.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 8rem;
}

.App-logo {
  height: 4em;
}

.App-header {
  display: flex;
  background-color: lawngreen;
  padding: 1em 0;
  color: black;
  width: 100%;
  z-index: 5;
  justify-content: space-evenly;
  position: fixed;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
